label{
	display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    border-left: none;
    border-right: none;
}
.hidden{
	display: none;
}